.workout-grid {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
  .workout-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    padding: 20px;
    .workout-link {
      text-decoration: none;
      color: black;
    }
    .workout-card-image {
      width: 200px;
    }
    .workout-exercises {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      .card {
        max-width: 100%;
        margin: 20px;
        padding: 20px;
      }
    }
  }
}